<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Navi Play{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %} {% endblock %}
</head>
<body>
    <!-- Header -->
    <header>
	    {% load static %}
        <a href="{% url 'main' %}">
            <img src="{% static 'imgs/logo.png' %}" alt="Logo" style="width: 300px; height: auto;">
        </a>
       <form action="{% url 'search' %}" method="GET" onsubmit="return validateSearch()">
            <input type="search" name="search" value="{{ request.GET.search }}" placeholder="게임 이름을 검색하세요." aria-label="Search games">
            <button type="submit">검색</button>
        </form>
        <nav class="navbar">
        <ul>
            <li><a href={% url 'search' %}>전체 게임 검색</a></li>
            <li><a href={% url 'tags' %}>태그별 페이지</a></li>
        </ul>
    </nav>
    </header>

    <main>
        {% block content %}
        <!-- Placeholder for dynamic content -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>© 2024 Game Platform. All rights reserved.</p>
        <nav>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
        </nav>
    </footer>

</body>
</html>

<script>
    function validateSearch() {
        const searchInput = document.querySelector('input[name="search"]');

        if (!searchInput.value.trim()) {
            // 커스텀 alert 메시지
            const messageBox = document.createElement("div");
            messageBox.style.position = "absolute";
            messageBox.style.left = searchInput.getBoundingClientRect().left + "px"; // 검색창의 왼쪽 위치
            messageBox.style.top = searchInput.getBoundingClientRect().top - 1 + "px"; // 검색창 바로 위에 위치 (35px 위로 이동)
            messageBox.style.padding = "10px 20px";
            messageBox.style.backgroundColor = "#d19636";
            messageBox.style.color = "#fff";
            messageBox.style.fontSize = "15px";
            messageBox.style.borderRadius = "5px";
            messageBox.textContent = "검색어를 입력해주세요.";

            // 메시지를 본문에 추가
            document.body.appendChild(messageBox);

            // 초 후 메시지 사라짐
            setTimeout(() => {
                messageBox.remove();
            }, 1500);

            return false; // 폼 제출 막기
        }

        return true; // 폼 제출 진행
    }
    document.addEventListener('DOMContentLoaded', function() {
    // 네비게이션 링크에 active 클래스 추가
    const links = document.querySelectorAll('.navbar a');
    const currentUrl = window.location.href;

    links.forEach(link => {
        if (link.href === currentUrl) {
            link.classList.add('active'); // 현재 URL과 일치하면 active 클래스 추가
        }
    });
});
</script>
