{% extends 'base.html' %}

{% block title %}검색{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <!-- 좌측 검색 옵션 -->
    <div class="sidebar filter-section">
        <h2>검색옵션</h2>
        <form action="{% url 'search' %}" method="GET">
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <div class="form-group">
                <label for="sort">정렬순</label>
                <select name="sort" id="sort">
                    <option value="" {% if not request.GET.sort %}selected{% endif %}>정렬 선택</option>
                    <option value="release_desc" {% if request.GET.sort == 'release_desc' %}selected{% endif %}>최신순</option>
                    <option value="release_asc" {% if request.GET.sort == 'release_asc' %}selected{% endif %}>오래된순</option>
                    <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>높은가격</option>
                    <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>낮은가격</option>
                    <option value="discount_desc" {% if request.GET.sort == 'discount_desc' %}selected{% endif %}>높은할인율</option>
                    <option value="discount_asc" {% if request.GET.sort == 'discount_asc' %}selected{% endif %}>낮은할인율</option>
                </select>
            </div>

            <div class="form-group">
                <label for="players">플레이어 수</label>
                <select name="players" id="players">
                    <option value="" {% if not request.GET.players %}selected{% endif %}>전체</option>
                    <option value="single_player" {% if request.GET.players == 'single_player' %}selected{% endif %}>싱글플레이어</option>
                    <option value="multi_player" {% if request.GET.players == 'multi_player' %}selected{% endif %}>멀티플레이어</option>
                    <option value="online_coop" {% if request.GET.players == 'online_coop' %}selected{% endif %}>온라인협동</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tags">태그</label>
                <select name="tags" id="tags">
                    <option value="" {% if not request.GET.tags %}selected{% endif %}>전체</option>
                    <option value="Indie" {% if request.GET.tags == "Indie" %}selected{% endif %}>Indie</option>
                    <option value="Action" {% if request.GET.tags == "Action" %}selected{% endif %}>Action</option>
                    <option value="Adventure" {% if request.GET.tags == "Adventure" %}selected{% endif %}>Adventure</option>
                    <option value="Casual" {% if request.GET.tags == "Casual" %}selected{% endif %}>Casual</option>
                    <option value="Simulation" {% if request.GET.tags == "Simulation" %}selected{% endif %}>Simulation</option>
                    <option value="Strategy" {% if request.GET.tags == "Strategy" %}selected{% endif %}>Strategy</option>
                    <option value="RPG" {% if request.GET.tags == "RPG" %}selected{% endif %}>RPG</option>
                    <option value="Puzzle" {% if request.GET.tags  == "Puzzle" %}selected{% endif %}>Puzzle</option>
                    <option value="2D" {% if request.GET.tags == "2D" %}selected{% endif %}>2D</option>
                </select>
            </div>

            <div class="form-group">
                        <label for="price">가격</label>
                        <select name="price" id="price">
                            <option value="" {% if not request.GET.price %}selected{% endif %}>전체</option>
                            <option value="_3" {% if request.GET.price == '_3' %}selected{% endif %}>3만원 미만</option>
                            <option value="3_5" {% if request.GET.price == '3_5' %}selected{% endif %}>3만원 이상 5만원 미만</option>
                            <option value="5_7" {% if request.GET.price == '5_7' %}selected{% endif %}>5만원 이상 7만원 미만</option>
                            <option value="7_10" {% if request.GET.price == '7_10' %}selected{% endif %}>7만원 이상 10만원 미만</option>
                            <option value="10_" {% if request.GET.price == '10_' %}selected{% endif %}>10만원 이상</option>
                        </select>
            </div>


            <legend>출시 여부</legend>
            <fieldset>
                        <label>
                            <input type="radio" name="status" value="" {% if not request.GET.status %}checked{% endif %}> 전체
                        </label>
                        <label>
                            <input type="radio" name="status" value="released" {% if request.GET.status == 'released' %}checked{% endif %}> 출시됨
                        </label>
                        <label>
                            <input type="radio" name="status" value="upcoming" {% if request.GET.status == 'upcoming' %}checked{% endif %}> 출시 예정
                        </label>
            </fieldset>

            <div class="button-group">
                <input type="submit" value="검색" class="btn-search-options"/>
                <input type="reset" value="초기화" class="btn-reset"/>
            </div>
        </form>
    </div>

    <!-- 우측 게임 리스트 -->
    <div class="main-content">

        {% for game in games %}
        <div class="game-item" onclick="location.href='{% url 'dashboard' game.app_id %}'">
            <!-- 좌측 이미지 -->
            <div class="game-left">
                <img src="{{ game.capsule_image }}" alt="{{ game.name }}">
            </div>
            <!-- 중앙 콘텐츠 -->
            <div class="game-center">
                <div class="game-title">{{ game.name }}</div>
                <div class="game-details">
                    <!-- 태그 출력 (최대 3개) -->
                    <div class="tags">
                        {% for genre in game.genres %}
                            {% if forloop.counter <= 3 %}
                                <span class="tag">{{ genre.description }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- 점수 출력 -->
                    <div class="score">
                        {% if positive_ratio > 70 %}
                            <span class="badge green">{{ positive_ratio }}</span>
                        {% elif positive_ratio > 40 %}
                            <span class="badge yellow">{{ positive_ratio }}</span>
                        {% else %}
                            <span class="badge red">{{ positive_ratio }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- 우측 가격 및 할인 정보 -->
            <div class="game-right">
                {% if game.discount_percent > 0 %}
                    <div class="discount">{{ game.discount_percent }}% off</div>
                {% endif %}
                <div class="pricing">
                    {% if game.final_price_int > 0 %}
                        <div class="final-price">{{ game.final_price_int }}₩</div>
                    {% else %}
                        <div class="final-price">Free</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="no-results">
            <p>검색 결과가 없습니다.</p>
        </div>
        {% endfor %}

        <!-- 페이지네이션 -->
        <div class="pagination">
            {% if start_page > 1 %}
                <a href="?page={{ start_page|add:'-1' }}&search={{ search_query }}&sort={{ sort_order }}&players={{ number_of_players }}&tags={{ select_tags }}&price={{ price_range }}&status={{ release_status }}" class="page-btn">&laquo;</a>
            {% endif %}

            {% for num in games.paginator.page_range %}
                {% if num >= start_page and num <= end_page %}
                    {% if games.number == num %}
                        <span class="page-btn active">{{ num }}</span>
                    {% else %}
                        <a href="?page={{ num }}&search={{ search_query }}&sort={{ sort_order }}&players={{ number_of_players }}&tags={{ select_tags }}&price={{ price_range }}&status={{ release_status }}" class="page-btn">{{ num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if end_page < games.paginator.num_pages %}
                <a href="?page={{ end_page|add:'1' }}&search={{ search_query }}&sort={{ sort_order }}&players={{ number_of_players }}&tags={{ select_tags }}&price={{ price_range }}&status={{ release_status }}" class="page-btn">&raquo;</a>
            {% endif %}
        </div>
    </div>
</div>



<script>

    //페이지네이션
    document.addEventListener("DOMContentLoaded", () => {
    const pageButtons = document.querySelectorAll('.page-btn');

    pageButtons.forEach(button => {
        button.addEventListener('click', () => {
            if (button.classList.contains('active') || button.disabled) return;

            // 현재 활성화된 버튼에서 'active' 클래스 제거
            const activeButton = document.querySelector('.page-btn.active');
            if (activeButton) {
                activeButton.classList.remove('active');
            }

            // 클릭된 버튼에 'active' 클래스 추가
            button.classList.add('active');

            // 페이지 이동
            const targetPage = button.getAttribute('href');
            window.location.href = targetPage;
        });
    });
});
</script>

{% endblock %}